.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.login{
    background-color: #fafafa;
    display: table;
    width: 400px;
    height: 320px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border: 2px solid #ccc;
    justify-content: center;
    align-items: center;
}